@using SIAkademik.Web.Areas.DashboardGuru.Models.PertemuanModels;

@model TambahVM

<form asp-action="Tambah" asp-controller="Pertemuan" method="post">
    <div class="modal-header">
        <h5 class="modal-title" id="modalTambahPertemuanTitle">Tambah Data Pertemuan</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <input type="hidden" asp-for="IdJadwalMengajar" />
        <div class="form-group">
            <label asp-for="Nomor"></label>
            <input asp-for="Nomor" class="form-control" />
            <span asp-validation-for="Nomor" class="text-danger"></span>
        </div>        
    </div>  

    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Batal</button>
        <button type="submit" class="btn btn-primary">Simpan</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}