@using SIAkademik.Web.Areas.DashboardGuru.Models.JadwalMengajarModels
@model MulaiVM

<form asp-action="Mulai" class="container">
    <div asp-validation-summary="ModelOnly"></div>

    <input />
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}