@using SIAkademik.Web.Areas.DashboardGuru.Models.PertemuanModels;

@model TambahVM

<form asp-action="Tambah" method="post" class="container">
    <div asp-validation-summary="ModelOnly"></div>

    <input asp-for="@Model.IdJadwalMengajar" readonly hidden/>

    <div class="row"> 
        <label asp-for="@Model.Nomor"></label>
        <input asp-for="@Model.Nomor"/>
        <span asp-validation-for="@Model.Nomor"></span>
    </div>

    <button type="submit">Simpan</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}