@using SIAkademik.Web.Areas.DashboardGuru.Controllers
@model AnggotaRombel

<a asp-action="RaportPDF" asp-route-idRombel="@Model.Rombel.Id" asp-route-download="@true">Download</a>

<embed class="pdf" src="@Url.ActionLink(nameof(RaportController.RaportPDF), "Raport", new { idRombel = Model.Rombel.Id, download = false })"
       width="100%"
       height="600" />