<div class="modal fade" id="modalTambahPertemuan" tabindex="-1" role="dialog"
     aria-labelledby="modalTambahPertemuanTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" id="modalTambahPertemuanContent">
            <!-- Konten modal akan diisi via AJAX -->
        </div>
    </div>
</div>

<div class="modal fade" id="modalTambah" tabindex="-1" role="dialog"
     aria-labelledby="modalTambahTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" id="modalTambahContent">
        </div>
    </div>
</div>

<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog"
     aria-labelledby="modalEditTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" id="modalEditContent">
        </div>
    </div>
</div>


@* <!-- Views/Shared/_ModalContainer.cshtml -->
<div class="modal fade" id="modalTambahPertemuan" tabindex="-1" role="dialog" aria-labelledby="modalTambahPertemuanTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <!-- Modal content akan di-*inject* dari halaman -->
            
        </div>
    </div>
</div> *@


@* <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="sharedModalBody">
                <!-- body akan dimuat via AJAX -->
            </div>
            <div class="modal-footer bg-whitesmoke br">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div> *@


@* <partial name="~/Areas/DashboardGuru/Views/Pertemuan/_ModalBody.cshtml" /> *@




@* <!-- Modal reusable -->
<div class="modal fade" id="sharedModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sharedModalTitle">Judul Modal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="sharedModalBody">
                <partial name="~/Areas/DashboardGuru/Views/Pertemuan/_FormTambah.cshtml"
                         model="new SIAkademik.Web.Areas.DashboardGuru.Models.PertemuanModels.TambahVM { IdJadwalMengajar = Model.Id }" />
            </div>
        </div>
    </div>
</div> *@

