<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SIAkademik.Web</title>
    <link rel="stylesheet" href="~/css/app.min.css" />
    <link rel="stylesheet" href="~/css/dashboard.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/theme.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div id="app">
        <div class="main-wrapper main-wrapper-1">
            <partial name="_NavbarPartial" />
            <partial name="_SidebarPartial" />

            <div class="main-content">
                <div class="section">
                    <main role="main">
                        @RenderBody()
                    </main>
                </div>

@*                 <partial name="_ModalPartial" />*@                
@*                 <partial name="_SettingsthemePartial" />
 *@            </div>
        </div>
    </div>

    @* JAVASCRIPT *@
    <script src="~/js/app.min.js" asp-append-version="true"></script>
    <script src="~/js/datatables.js" asp-append-version="true"></script>
    <script src="~/js/dashboard.js" asp-append-version="true"></script>

    @{
        var globalOptions = new ToastrOptions
        {
            closeButton = true,
            progressBar = true,
            newestOnTop = true,
            preventDuplicates = false,
            timeOut = (int)TimeSpan.FromSeconds(5).TotalMilliseconds,
            extendedTimeOut = (int)TimeSpan.FromSeconds(5).TotalMilliseconds,
            showDuration = (int)TimeSpan.FromSeconds(0.5).TotalMilliseconds,
            hideDuration = (int)TimeSpan.FromSeconds(0.5).TotalMilliseconds,
            showEasing = Easings.Swing,
            hideEasing = Easings.Swing,
            showMethod = AnimationMethods.FadeIn,
            hideMethod = AnimationMethods.FadeOut,
            positionClass = PositionClasses.TopRight,
        };
    }

    <vc:toastr global-options=globalOptions></vc:toastr>

    <script type="text/javascript">
        const matchLink = (linkHref, currentUrl, match) => {
            if (match === "partial") {
                return currentUrl.startsWith(linkHref);
            } else {
                return currentUrl === linkHref
            }
        }

        // LINK SIDEBAR ACTIVE
        document.addEventListener('DOMContentLoaded', () => {
            const links = document.querySelectorAll('.nav-link');

            const currentUrl = window.location.href;

            links.forEach(link => {
                if (matchLink(link.href, currentUrl, link.dataset.match)) {
                    link.parentNode.classList.add('active');
                } else {
                    link.parentNode.classList.remove('active');
                }
            });
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
