@using SIAkademik.Web.Areas.DashboardAdmin.Models.DivisiModels
@model TambahVM

@{
    ViewData["Title"] = "Tambah Divisi";
}

<!-- Breadcrumb -->
<div class="row" style="justify-content: center;">
    <div class="col-12 col-md-6 col-lg-6" style="padding: 0;">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Manajemen SDM</a></li>
                <li class="breadcrumb-item"><a asp-area="@AreaNames.DashboardAdmin" asp-controller="Divisi" asp-action="Index">Divisi</a></li>
                <li class="breadcrumb-item" aria-current="page">Tambah Data</li>
            </ol>
        </nav>
    </div>
</div>

<!-- Isi Konten -->
<div class="section-body">
    <div class="row" style="justify-content: center;">
        <div class="col-12 col-md-6 col-lg-6">
            <div class="card card-success">
                <div class="card-header" style="padding-top: 20px;">
                    <h4>Tambah Data Divisi</h4>
                </div>

                <form asp-action="Tambah" method="post">
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly"></div>

                        <div class="form-group">
                            <label asp-for="@Model.Nama">Nama Divisi</label>
                            <input asp-for="@Model.Nama" class="form-control" />
                            <span asp-validation-for="@Model.Nama"></span>
                        </div>                                                  
                    </div>
                    
                    <div class="card-footer text-right pt-0">
                        <a href="javascript:void(0)" class="btn btn-danger text-white swal-cancel">Batal</a>
                        <button class="btn btn-primary mr-1" type="submit">Simpan</button>                        
                    </div>
                </form>            
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}