/* ================================= FOOTER ================================= */
footer {
    padding: 5vw 8vw;
    background-color: #101c32;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

    footer .footer-col {
        padding-bottom: 40px;
    }

        footer .footer-col h3 {
            color: rgb(241, 240, 245);
            font-weight: 600;
            padding-bottom: 20px;
        }

        footer .footer-col li {
            list-style: none;
            color: #7b838a;
            padding: 10px 0;
            font-size: 15px;
            cursor: pointer;
            transition: 0.3s ease;
        }

            footer .footer-col li:hover {
                color: rgb(241, 240, 245);
            }

        footer .footer-col p {
            color: #7b838a;
        }

        footer .footer-col .subscribe {
            margin-top: 20px;
        }

            footer .footer-col .subscribe input {
                width: 220px;
                padding: 12px 15px;
                border: none;
                outline: none;
                background: #334f6c;
                color: #ffffff;
            }

            footer .footer-col .subscribe a {
                text-decoration: none;
                font-size: 0.9rem;
                padding: 12px 15px;
                background-color: #ffffff;
                font-weight: 600;
            }

                footer .footer-col .subscribe a.yellow {
                    color: #2c2c2c;
                    background-color: #fdc93b;
                    transition: 0.3s ease;
                }

                    footer .footer-col .subscribe a.yellow:hover {
                        color: rgb(21, 21, 100);
                        background-color: #ffffff;
                    }

    footer .copyright {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
    }

        footer .copyright p {
            color: #ffffff;
        }

        footer .copyright .pro-links i {
            padding: 10px 13px;
            border: 1px solid rgb(21, 21, 100);
            cursor: pointer;
            background-color: #5f7185;
            color: #fff;
            transition: 0.3s ease;
        }

            footer .copyright .pro-links i:hover {
                background-color: #fdc93b;
                color: #2c2c2c;
            }

/* ------------------------------------ RESPONSIVE ------------------------------------ */
@media (max-width: 1050px) {

}

@media (max-width: 780px) {
    
}

@media (max-width: 700px) {
    footer .copyright[b-0me0ezrmnu] {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        gap: 15px;
        width: 100%;
        flex-wrap: wrap;
    }
}

@media (max-width: 500px) {
}

@media (max-width: 350px) {
    footer .footer-col .subscribe input[b-0me0ezrmnu] {
        margin-bottom: 1rem;
    }
}