<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SMAKr Pandhega Jaya</title>
    <link rel="stylesheet" href="~/css/profil-site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SIAkademik.Web.styles.css" asp-append-version="true" />

    <!-- RemixIcon CSS -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>
<body>
    <partial name="_NavbarPartial" />

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- ======================================= FOOTER ======================================= -->
    <footer>
        <div class="footer-col">
            <h3>Informasi Sekolah</h3>
            <li>Berita & Pengumuman</li>
            <li>Guru & Karyawan</li>
            <li>Galeri</li>
            <li>Statistik</li>
        </div>
        <div class="footer-col">
            <h3>Fasilitas</h3>
            <li>Asrama</li>
            <li>Lab Komputer</li>
            <li>Perpustakaan</li>
            <li>Lapangan Futsal</li>
        </div>
        <div class="footer-col">
            <h3>Tentang Kami</h3>
            <li>Visi & Misi</li>
            <li>Mars Sekolah</li>
            <li>Kurikulum</li>
            <li>Core Value</li>
        </div>
        <div class="footer-col">
            <h3>Keterampilan</h3>
            <li>Public Speaking</li>
            <li>Team Work</li>
            <li>Problem Solving</li>
            <li>Dan Lainnya</li>
        </div>
        <div class="footer-col">
            <h3>Mencari Informasi PPDB ?</h3>
            <p>
                Masukkan email Anda untuk menerima <br />informasi saat PPDB dibuka.
            </p>
            <div class="subscribe">
                <input type="text" placeholder="Alamat Email Kamu" name="" id="" />
                <a href="" class="yellow">KIRIM</a>
            </div>
        </div>

        <div class="copyright">
            <p>Copyright ©2025 All rights reserved | Dibuat oleh AFA</p>
            <div class="pro-links">
                <i class="ri-facebook-fill"></i>
                <i class="ri-instagram-fill"></i>
                <i class="ri-linkedin-fill"></i>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button Only -->
    <div class="scroll-buttons">
        <button id="scrollTopBtn" class="scroll-btn top">
            <i class="ri-arrow-drop-up-line"></i>
        </button>
    </div>

    <!-- Link ke JS -->
    <script src="/js/scroll.js"></script>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- Swiper Configuration JS -->
    <script>
        const swiper = new Swiper(".swiper", {
            loop: true,
            spaceBetween: 20,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            autoplay: {
                delay: 3000,
                disableOnInteraction: false,
            },
            breakpoints: {
                0: {
                    slidesPerView: 1,
                },
                576: {
                    slidesPerView: 2,
                },
                770: {
                    slidesPerView: 3,
                },
                1024: {
                    slidesPerView: 4,
                },
                1300: {
                    slidesPerView: 5,
                },
            },
        });
    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/profil-site.js" asp-append-version="true"></script>
    <script src="~/js/responsive.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
