<!-- ======================================= NAVIGATION ======================================= -->
<nav>
    <div class="logo">
        <img src="/images/navigation/logo_sekolah.jpg" alt="Logo Sekolah" />
        <a href="index.html">
            SMA Kristen<br />
            Pandhega Jaya
        </a>
    </div>
    <div class="navigation">
        <ul>
            <i id="menu-close" class="ri-close-fill"></i>
            <li><a asp-action="Index" asp-controller="Home" asp-area="Profil">Beranda</a></li>
            <li class="has-submenu">
                <a> Informasi <i class="ri-arrow-down-s-line"></i> </a>
                <ul class="submenu">
                    <li><a href="berita.html">Berita & Pengumuman</a></li>
                    <li><a href="guru.html">Guru & Karyawan</a></li>
                    <li><a href="galeri.html">Galeri</a></li>
                    <li><a href="statistik.html">Statistik</a></li>
                </ul>
            </li>
            <li><a asp-action="Fasilitas" asp-controller="Home" asp-area="Profil">Fasilitas</a></li>
            <li><a asp-action="TentangKami" asp-controller="Home" asp-area="Profil">Tentang Kami</a></li>
            <li><a asp-action="Kontak" asp-controller="Home" asp-area="Profil">Alamat</a></li>
            <li><a asp-action="Login" asp-controller="Home" asp-area=@AreaNames.Profil>Login</a></li>
        </ul>
        <img id="menu-btn" src="/images/menu.png" alt="Menu Button" />
    </div>
</nav>