<div class="row">
    <div class="col-xl-6 col-lg-12">
        <div class="card">
            <div class="card-body card-type-3">
                <div class="row">
                    <div class="col">
                        <h6 class="text-muted mb-0">
                            Total Penerimaan SD
                        </h6>
                        @*                         <h4 class="font-weight-bold mb-0"> @Model.DaftarTransaksi.Where(t => t.Jenis == Jenis.Penerimaan).Sum(t => t.Jumlah).ToString("C2", cultureInfo)</h4>
                        *@
                    </div>
                    <div class="col-auto">
                        <div class="card-circle l-bg-green text-white">
                            <i class="fas fa-arrow-up"></i>
                        </div>
                    </div>
                </div>
                <p class="mt-0 mb-0 text-muted text-sm">
                    <h4 class="font-weight-bold mb-0"></h4>
                    @* <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 10%</span>
                    <span class="text-nowrap">Since last month</span> *@
                </p>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-lg-12">
        <div class="card">
            <div class="card-body card-type-3">
                <div class="row">
                    <div class="col">
                        <h6 class="text-muted mb-0">
                            Total Pengeluaran SD
                        </h6>
                        @*                         <span class="font-weight-bold mb-0">1,562</span>
                        *@
                    </div>
                    <div class="col-auto">
                        <div class="card-circle l-bg-red text-white">
                            <i class="fas fa-arrow-down"></i>
                        </div>
                    </div>
                </div>
                <p class="mt-0 mb-0 text-muted text-sm">
                    <h4>
                        
                    </h4>
                    @* <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 7.8%</span>
                    <span class="text-nowrap">Since last month</span> *@
                </p>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        Penerimaan
    </div>
    <div class="card-body">
        <div class="row owl-carousel owl-theme grafik">
            <div class="col-12">
                <div class="card-body">
                    
                </div>
                <div class="card-footer d-flex justify-content-center">
                    Bulan 
                </div>
            </div>
            <div class="col-12">
                <div class="card-body">
                    
                </div>
                <div class="card-footer d-flex justify-content-center">
                    Tahun @DateTime.Now.Year
                </div>
            </div>
            <div class="col-12">
                <div class="card-body">
                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        Pengeluaran
    </div>
    <div class="card-body">
        <div class="row owl-carousel owl-theme grafik">
            <div class="col-12">
                <div class="card-body">
                    
                </div>
                <div class="card-footer d-flex justify-content-center">
                    Bulan 
                </div>
            </div>
            <div class="col-12">
                <div class="card-body">
                    
                </div>
                <div class="card-footer d-flex justify-content-center">
                    Tahun @DateTime.Now.Year
                </div>
            </div>
            <div class="col-12">
                <div class="card-body">
                    
                </div>
            </div>
        </div>
    </div>
</div>