@{
    ViewData["Title"] = "Core Value";
}

<!-- ======================================= PENGANTAR ======================================= -->
<section id="value-home">
    <h2>Core Value</h2>
    <div class="value-breadcumbs">
        <a asp-action="Index" asp-controller="Home" asp-area="Profil">Beranda</a>
        <i class="ri-arrow-drop-right-line"></i>
        <a asp-action="TentangKami" asp-controller="Home" asp-area="Profil">Tentang Kami</a>
    </div>
</section>

<!-- ======================================= CORE VALUE ======================================= -->
<section id="value">
    <div class="judul-garis">
        <h2>Core Value</h2>
        <div class="garis-sisa"></div>
    </div>
    <div class="value-container">
        <div class="value-box"
             style="background-image: url('/images/core_value/core_1.jpg')">
            <h3>Fear of God</h3>
            <h4>(Juli - Agustus)</h4>
            <p>
                Meletakkan Firman Tuhan sebagai otoritas tertinggi dalam setiap
                aspek kehidupan. Hidup dalam kebenaran. Menegakkan Kerajaan Allah di
                muka bumi.
            </p>
        </div>
        <div class="value-box"
             style="background-image: url('/images/core_value/core_2.jpg')">
            <h3>Integrity</h3>
            <h4>(September)</h4>
            <p>Hidup dalam integritas. Memiliki kemurnian hati.</p>
        </div>
        <div class="value-box"
             style="background-image: url('/images/core_value/core_3.jpg')">
            <h3>Servant Leadership</h3>
            <h4>(Oktober)</h4>
            <p>
                Kerendahan hati. Ketaatan. Mengutamakan orang lain lebih dari diri
                sendiri.
            </p>
        </div>
        <div class="value-box"
             style="background-image: url('/images/core_value/core_4.jpg')">
            <h3>Dedicating Life for Others</h3>
            <h4>(November)</h4>
            <p>
                Mendedikasikan hidup untuk orang lain. Peka terhadap kebutuhan orang
                lain/lingkungan.
            </p>
        </div>
        <div class="value-box"
             style="background-image: url('/images/core_value/core_5.jpg')">
            <h3>Visioner</h3>
            <h4>(Desember - Januari)</h4>
            <p>Memiliki tujuan hidup yang jelas. Fokus pada tujuan.</p>
        </div>
        <div class="value-box"
             style="background-image: url('/images/core_value/core_6.jpg')">
            <h3>Citizenship</h3>
            <h4>(Februari)</h4>
            <p>Penuh pengabdian dan mencintai bangsa.</p>
        </div>
        <div class="value-box"
             style="background-image: url('/images/core_value/core_7.jpg')">
            <h3>Inovative</h3>
            <h4>(Maret)</h4>
            <p>
                Berani menghitung dan mengambil risiko. Kreatif dalam menciptakan
                hal-hal baru.
            </p>
        </div>
        <div class="value-box"
             style="background-image: url('/images/core_value/core_8.jpg')">
            <h3>Finisher</h3>
            <h4>(April)</h4>
            <p>Dapat melaksanakan dan menyelesaikan segala hal dengan baik.</p>
        </div>
        <div class="value-box"
             style="background-image: url('/images/core_value/core_9.jpg')">
            <h3>Totality</h3>
            <h4>(Mei - Juni)</h4>
            <p>Memiliki totalitas dan komitmen dalam melakukan segala sesuatu.</p>
        </div>
    </div>
</section>

<!-- ======================================= KETERAMPILAN ======================================= -->
<section id="features">
    <div class="judul-garis">
        <h2>Keterampilan</h2>
        <div class="garis-sisa"></div>
    </div>

    <div class="fea-base">
        <div class="fea-box">
            <i class="ri-mic-fill"></i>
            <h3>Public Speaking</h3>
        </div>
        <div class="fea-box">
            <i class="ri-team-fill"></i>
            <h3>Team Work</h3>
        </div>
        <div class="fea-box">
            <i class="ri-brain-fill"></i>
            <h3>Problem Solving</h3>
        </div>
        <div class="fea-box">
            <i class="ri-calendar-event-fill"></i>
            <h3>Event Organizing</h3>
        </div>
        <div class="fea-box">
            <i class="ri-movie-fill"></i>
            <h3>Using Media</h3>
        </div>
        <div class="fea-box">
            <i class="ri-global-fill"></i>
            <h3>Internet</h3>
        </div>
        <div class="fea-box">
            <i class="ri-slideshow-fill"></i>
            <h3>Presentation</h3>
        </div>
        <div class="fea-box">
            <i class="ri-book-open-fill"></i>
            <h3>Speed Reading</h3>
        </div>
        <div class="fea-box">
            <i class="ri-headphone-fill"></i>
            <h3>Listening</h3>
        </div>
        <div class="fea-box">
            <i class="ri-tv-2-fill"></i>
            <h3>Audio Visual</h3>
        </div>
        <div class="fea-box">
            <i class="ri-motorbike-fill"></i>
            <h3>Safety Riding</h3>
        </div>
        <div class="fea-box">
            <i class="ri-store-fill"></i>
            <h3>Selling</h3>
        </div>
    </div>
</section>