<!-- ======================================= PENGANTAR ======================================= -->
<section id="fasilitas-home">
    <h2>Fasilitas Sekolah</h2>
</section>

<!-- ======================================= FASILITAS ======================================= -->
<section id="fasilitas">
    <div class="judul-garis">
        <h2>Fasilitas</h2>
        <div class="garis-sisa"></div>
    </div>

    <!-- Fasilitas 1 -->
    <div class="fasilitas-box">
        <img src="/images/siswa1.jpg" alt="Asrama" />
        <div class="fasilitas-text">
            <h2><span class="number">1</span> Asrama</h2>
            <p>
                Bangunan ini digunakan oleh siswa/i untuk beristirahat. Bangunan ini
                dilengkapi dengan lemari, tempat tidur, dan kamar mandi. Asrama
                dibagi menjadi dua, yaitu asrama putera dan asrama puteri.
            </p>
        </div>
    </div>

    <!-- Fasilitas 2 -->
    <div class="fasilitas-box">
        <div class="fasilitas-text">
            <h2><span class="number">2</span> Lab Komputer</h2>
            <p>
                Tempat ini digunakan siswa/i untuk mencari tugas dan informasi untuk
                keperluan sekolah. Tempat ini dilengkapi 30 komputer yang bisa
                mengakses internet, memberikan kemudahan bagi siswa dalam mengakses
                sumber belajar secara online.
            </p>
        </div>
        <img src="/images/siswa2.jpg" alt="Lab Komputer" />
    </div>

    <!-- Fasilitas 3 -->
    <div class="fasilitas-box">
        <img src="/images/siswa1.jpg" alt="Perpustakaan" />
        <div class="fasilitas-text">
            <h2><span class="number">3</span> Perpustakaan</h2>
            <p>
                Tempat ini digunakan untuk menyimpan buku-buku bacaan di SMA Kr
                PANDHEGA JAYA, buku-buku yang tersedia juga adalah buku yang sudah
                di survei oleh tim perpustakaan agar dapat menunjang pembelajaran di
                SMA Kr PANDHEGA JAYA.
            </p>
        </div>
    </div>

    <!-- Fasilitas 4 -->
    <div class="fasilitas-box">
        <div class="fasilitas-text">
            <h2><span class="number">4</span> Lapangan Futsal</h2>
            <p>
                Tempat ini digunakan siswa-i untuk berolahraga, seperti : volley
                ball, futsal, badminton, karate, lari, dll. Dan juga digunakan untuk
                tempat event-event, seperti : Graduation, click reward, pentas seni,
                dll.
            </p>
        </div>
        <img src="/images/siswa2.jpg" alt="Lapangan Futsal" />
    </div>
</section>