@model InformasiUmum

@{
    ViewData["Title"] = "Kontak & Alamat";
}

<!-- ======================================= PENGANTAR ======================================= -->
<section id="kontalam-home">
    <h2>Kontak & Alamat</h2>
</section>

<!-- ======================================= KONTAK & ALAMAT ======================================= -->
<section id="kontak">
    <div class="judul-garis">
        <h2>Kontak & Alamat</h2>
        <div class="garis-sisa"></div>
    </div>

    <div class="contact">
        <div class="getin">
            <p>Ingin terhubung dengan kami? Hubungi kontak berikut ini.</p>
            <div class="getin-details">
                <h3>Alamat</h3>
                <div>
                    <i class="ri-home-8-line get"></i>
                    <p>
                        @Model.AlamatSekolah
                    </p>
                </div>
                <h3>Telepon</h3>
                <div>
                    <i class="ri-phone-fill get"></i>
                    <p>@Model.NoHPSekolah.Value</p>
                </div>
                <h3>Email</h3>
                <div>
                    <i class="ri-mail-ai-fill get"></i>
                    <p>@Model.EmailSekolah</p>
                </div>
                <h3>Ikuti Kami</h3>
                <div class="pro-links">
                    <i class="ri-facebook-fill"></i>
                    <i class="ri-instagram-fill"></i>
                    <i class="ri-tiktok-fill"></i>
                    <i class="ri-linkedin-fill"></i>
                </div>
            </div>
        </div>
        <div class="form">
            <h4>Hubungi Kami</h4>
            <p>Jika anda memiliki pertanyaan, saran, atau masukan.</p>
            <div class="form-row">
                <input type="text" placeholder="Nama" />
                <input type="text" placeholder="Email" />
            </div>
            <div class="form-col">
                <input type="text" placeholder="Judul" />
            </div>
            <div class="form-col">
                <textarea name=""
                          id=""
                          cols="30"
                          rows="6"
                          placeholder="Isi Pesan Anda?"></textarea>
            </div>
            <div class="form-col">
                <button>Kirim Pesan</button>
            </div>
        </div>
    </div>
</section>

<!-- ======================================= SECTION MAP ======================================= -->
<section id="map-kontak">
    <div class="map-sekolah">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3927.380143194437!2d123.72241607661495!3d-10.149722764084865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2c568147180f9b91%3A0x8769155bee75bdd2!2sSMA%20Kristen%20Pandhega%20Jaya!5e0!3m2!1sid!2sid!4v1748396170588!5m2!1sid!2sid"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>