@{
    ViewData["Title"] = "Kurikulum Sekolah";
}

<!-- ======================================= PENGANTAR ======================================= -->
<section id="kurikulum-home">
    <h2>Kurikulum Sekolah</h2>
    <div class="kurikulum-breadcumbs">
        <a asp-action="Index" asp-controller="Home" asp-area="Profil">Beranda,</a>
        <a asp-action="TentangKami" asp-controller="Home" asp-area="Profil">Tentang Kami</a>
    </div>
</section>

<!-- ======================================= KURIKULUM ======================================= -->
<section id="kurikulum">
    <div class="judul-garis">
        <h2>Kurikulum</h2>
        <div class="garis-sisa"></div>
    </div>
    <div class="kurikulum-container">
        <div class="kurikulum-peta">
            <div class="kurikulum-sticky">
                <img src="/images/kurikulum-peta.jpg" alt="" />
            </div>
        </div>
        <div class="kurikulum-penjelasan">
            <!-- Kurikulum 1 -->
            <div class="kurikulum-item">
                <div class="kurikulum-header">Kurikulum Nasional Terintegrasi</div>
                <div class="kurikulum-poin">
                    <p>
                        Kurikulum yang mendesain kegiatan, materi, dan proses belajar
                        meliputi beberapa bidang studi sesuai kurikulum Nasional menurut
                        ketentuan Departemen Pendidikan Nasional, yang diintegrasikan
                        dengan kebenaran Firman Tuhan dan pendidikan karakter Kristiani.
                    </p>
                    <br />
                    <p>
                        Nilai-nilai yang ingin dicapai:<br />
                        <span>
                            Takut akan Tuhan, cakap, kemampuan akademis,
                            Karakter-karakter Kristiani, dan kebenaran Firman Tuhan.
                        </span>
                    </p>
                    <br />
                    <p>
                        Keterkaitan dengan visi:<br />
                        <span>
                            Melalui pembelajaran kurikulum Nasional yang diintegrasikan
                            dengan Firman Tuhan maka diharapkan siswa tidak hanya cakap
                            yaitu memiliki kemampuan akademis yang baik sesuai dengan
                            ketentuan pemerintah namun juga memiliki karakter Kristiani.
                            Selain itu dengan mengintegrasikan kebenaran Firman Tuhan ke
                            dalam kurikulum Nasional maka diharapkan siswa dapat memandang
                            ilmu pengetahuan sebagai salah satu sarana untuk mengenal
                            Tuhan sebagai Allah dan Penciptanya.
                        </span>
                    </p>
                    <br />
                    <p>Aplikasi:</p>

                    <p>
                        1. Guru diberi arahan mengenai langkah mengintegrasikan
                        kebenaran Firman Tuhan ke dalam pembelajaran.
                    </p>
                    <p>
                        2. Guru mengintegrasikan kebenaran Firman Tuhan dan karakter
                        Kristiani ke dalam setiap mata pelajaran sesuai dengan kurikulum
                        Nasional.
                    </p>
                    <p>3. Guru menjadi teladan di kelas.</p>

                    <div class="penjelasan-box">
                        <p>Sarana yang dibutuhkan:</p>
                        <p>
                            Buku-buku pedoman kurikulum Nasional, buku-buku karakter
                            Kristiani, Alkitab.
                        </p>
                    </div>
                    <p>Pihak-pihak yang terlibat:</p>

                    <p>1. Siswa sebagai pembelajar</p>
                    <p>2. Guru sebagai teladan, kreator, dan fasilitator.</p>
                    <p>3. Kepala Sekolah sebagai Supervisor.</p>

                    <div class="penjelasan-box">
                        <p>Waktu:</p>
                        <p>Selama kegiatan belajar mengajar berlangsung.</p>
                    </div>
                </div>
            </div>

            <!-- Kurikulum 2 -->
            <div class="kurikulum-item">
                <div class="kurikulum-header">
                    Kurikulum Intensive Bible (Pembelajaran Alkitab Intensif)
                </div>
                <div class="kurikulum-poin">
                    <p>
                        Kurikulum pembelajaran Alkitab secara intensif yang disusun
                        secara tematik.
                    </p>
                    <br />
                    <p>
                        Nilai-nilai yang ingin dicapai:<br />
                        <span>
                            Takut akan Tuhan, Karakter Kristiani, dan Kebenaran Firman
                            Tuhan.
                        </span>
                    </p>
                    <br />
                    <p>
                        Keterkaitan dengan visi:<br />
                        <span>
                            Melalui pembelajaran Alkitab Intensif diharapkan siswa
                            memiliki dasar pemahaman akan Kebenaran Firman Tuhan sehingga
                            dapat memiliki nilai-nilai maupun karakter yang baik dan
                            tujuan pembelajaran secara keseluruhan dapat tercapai.
                        </span>
                    </p>
                    <br />
                    <p>Aplikasi:</p>

                    <p>
                        1. Bible Study: mempelajari topik-topik dalam Alkitab secara
                        bertahap sesuai dengan tingkatan kebutuhan rohani siswa.
                    </p>
                    <p>
                        2. Seminar mini: membahas cara pandang Alkitab mengenai
                        topik-topik yang kontekstual dengan kehidupan dan kebutuhan
                        siswa.
                    </p>
                    <p>
                        3. Komunitas sel: kelompok-kelompok kecil yang dibimbing oleh
                        seorang guru/pembina.
                    </p>
                    <p>
                        4. Training-training: membahas topik-topik tertentu dengan
                        mendatangkan fasilitator.
                    </p>

                    <div class="penjelasan-box">
                        <p>Sarana yang dibutuhkan:</p>
                        <p>
                            Modul Bible Study, Modul Seminar Mini, Modul untuk Komunitas
                            Sel, Modul untuk renungan harian, topik-topik training.
                        </p>
                    </div>
                    <p>Pihak-pihak yang terlibat:</p>

                    <p>1. Siswa</p>
                    <p>2. Guru Pembina</p>
                    <p>3. Fasilitator</p>

                    <div class="penjelasan-box">
                        <p>Waktu:</p>
                        <p>
                            Malam hari setelah jam belajar reguler atau pagi hari sebelum
                            jam belajar reguler.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Kurikulum 3 -->
            <div class="kurikulum-item">
                <div class="kurikulum-header">Kurikulum Excellent Leadership</div>
                <div class="kurikulum-poin">
                    <p>
                        Kurikulum yang mendesain kegiatan, materi, dan proses belajar
                        yang diintegrasikan ke dalam seluruh aspek pembelajaran,
                        meliputi penanaman karakter pemimpin yang unggul, yaitu karakter
                        Servant Leadership (pemimpin yang melayani), Integrity (pemimpin
                        yang berintegritas), dan pemimpin yang visioner, kurikulum ini
                        diadopsi dari kurikulum pelatihan kepemimpinan yang diterapkan
                        oleh Lembaga Excellent Leader Training.
                    </p>
                    <br />
                    <p>
                        Nilai-nilai yang ingin dicapai:<br />
                        <span>
                            Karakter Pemimpin Kristen yang melayani, berintegritas,
                            visioner, penuh pengabdian, dan mencintai bangsa.
                        </span>
                    </p>
                    <br />
                    <p>
                        Keterkaitan dengan visi:<br />
                        <span>
                            Melalui kurikulum Kepemimpinan yang Melayani ini diharapkan
                            siswa dapat memiliki karakter pemimpin Kristen yang melayani,
                            berintegritas, visioner, penuh pengabdian, dan mencintai
                            bangsa.
                        </span>
                    </p>
                    <br />
                    <p>Aplikasi:</p>

                    <p>
                        Setiap jenjang kelas mewakili standart dari Humble sampai dengan
                        Arrow. Kelas X untuk materi standart Humble, kelas XI untuk
                        standart Purity, kelas XII untuk standart Arrow.
                    </p>

                    <div class="penjelasan-box">
                        <p>Sarana yang dibutuhkan:</p>
                        <p>
                            Lahan untuk outbound, Modul bootcamp Humble-Purity-Arrow,
                            Modul Mentoring Humble-Purity-Arrow.
                        </p>
                    </div>
                    <p>Pihak-pihak yang terlibat:</p>

                    <p>1. Siswa</p>
                    <p>2. Guru Pembina</p>
                    <p>3. Rekan-rekan Excellent Leader Training</p>

                    <div class="penjelasan-box">
                        <p>Waktu:</p>
                        <p>
                            Outbound per standart dilakukan setahun sekali. Mentoring per
                            standart dilakukan seminggu sekali. Penerapan berupa pembagian
                            tim-tim dalam kehidupan sehari hari.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Kurikulum 4 -->
            <div class="kurikulum-item">
                <div class="kurikulum-header">Kurikulum Entrepreneurship</div>
                <div class="kurikulum-poin">
                    <p>
                        Kurikulum yang mendesain kegiatan ekstrakurikuler yang berbasis
                        kewirausahaan, di mana peserta didik diarahkan untuk dapat
                        secara mandiri mengembangkan kemampuan kewirausahaan mereka
                        sesuai dengan bakat dan minat masing-masing peserta didik.
                    </p>
                    <br />
                    <p>
                        Nilai-nilai yang ingin dicapai:<br />
                        <span>
                            Karakter wirausahawan Kristen, inovatif, finisher,
                            totalitas.
                        </span>
                    </p>
                    <br />
                    <p>
                        Keterkaitan dengan visi:<br />
                        <span>
                            Melalui kurikulum Entrepreneurship diharapkan siswa memiliki
                            karakter-karakter dan pemikiran wirausaha Kristen sehingga
                            mampu bersaing dalam era global.
                        </span>
                    </p>
                    <br />
                    <p>Aplikasi:</p>

                    <p>1. Penyampaian materi Entrepreneurship.</p>
                    <p>
                        2. Praktek lapangan di lahan mini yang dimiliki sekolah berupa
                        perkebunan, perikanan, peternakan, maupun unit bisnis lainnya.
                    </p>
                    <p>3. Pengembangan bakat dan minat siswa.</p>
                    <p>
                        4. Kelas-kelas inspirasi yang mendatangkan fasilitator sesuai
                        bidangnya.
                    </p>

                    <div class="penjelasan-box">
                        <p>Sarana yang dibutuhkan:</p>
                        <p>
                            Lahan perkebunan, perikanan, peternakan, dan unit bisnis
                            lainnya, Modul Entrepreneurship.
                        </p>
                    </div>
                    <p>Pihak-pihak yang terlibat:</p>

                    <p>1. Siswa</p>
                    <p>2. Guru Pembina</p>
                    <p>3. Fasilitator</p>

                    <div class="penjelasan-box">
                        <p>Waktu:</p>
                        <p>
                            Untuk kelas ekstrakurikuler diadakan setiap hari Sabtu.
                            Pemeliharaan rutin dilaksanakan sesuai kebutuhan.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Kurikulum 5 -->
            <div class="kurikulum-item">
                <div class="kurikulum-header">Program Pengabdian Masyarakat</div>
                <div class="kurikulum-poin">
                    <p>
                        Program yang didesain untuk menerapkan pembelajaran yang telah
                        diterima murid dalam proyek pengabdian masyarakat yang kreatif
                        sesuai dengan skill peserta didik.
                    </p>
                    <br />
                    <p>
                        Nilai-nilai yang ingin dicapai:<br />
                        <span>
                            Pemimpin Kristen yang mengabdi dan mencintai bangsa,
                            kewarganegaraan, mendedikasikan hidup untuk orang lain.
                        </span>
                    </p>
                    <br />
                    <p>
                        Keterkaitan dengan visi:<br />
                        <span>
                            Melalui program pengabdian masyarakat ini diharapkan siswa
                            memiliki karakter pemimpin Kristen yang mengabdikan diri dan
                            mencintai bangsa. Melalui program ini siswa diajar mengenali
                            kebutuhan masyarakat, dan mengenali apa yang dapat
                            disumbangkannya bagi masyarakat.
                        </span>
                    </p>
                    <br />
                    <p>Aplikasi:</p>

                    <p>
                        1. Sekolah membuat program-program kemasyarakatan yang
                        melibatkan siswa dan guru
                    </p>
                    <p>
                        2. Sekolah menerjunkan siswa dan guru untuk berinteraksi dengan
                        masyarakat sekitar dengan tujuan mengetahui kebutuhan mereka.
                    </p>
                    <p>
                        3. Sekolah mendampingi siswa menyusun program mereka sendiri.
                    </p>
                    <p>4. Sekolah mendampingi siswa dalam melaksanakan programnya.</p>

                    <div class="penjelasan-box">
                        <p>Sarana yang dibutuhkan:</p>
                        <p>Program-program kemasyarakatan.</p>
                    </div>
                    <p>Pihak-pihak yang terlibat:</p>

                    <p>1. Siswa</p>
                    <p>2. Guru/Pembina</p>
                    <p>3. Tokoh Masyarakat Sekitar</p>
                    <p>4. Masyarakat Sekitar</p>
                </div>
            </div>

            <!-- Kurikulum 6 -->
            <div class="kurikulum-item">
                <div class="kurikulum-header">Konsep Sekolah Berasrama</div>
                <div class="kurikulum-poin">
                    <p>
                        Setiap peserta didik di SMAKr. Pandhega Jaya diwajibkan untuk
                        tinggal di asrama di mana konsep pemuridan dan pembapaan
                        diterapkan secara menyeluruh sehingga pembentukan karakter dapat
                        terjadi lebih maksimal.
                    </p>
                    <br />
                    <p>
                        Nilai-nilai yang ingin dicapai:<br />
                        <span> Tanggungjawab, berbagi, dan pembapaan.</span>
                    </p>
                    <br />
                    <p>
                        Keterkaitan dengan visi:<br />
                        <span>
                            Melalui konsep Sekolah Berasrama diharapkan siswa dapat
                            belajar lebih maksimal baik akademik, karakter, maupun
                            lifeskill.
                        </span>
                    </p>
                    <br />
                    <p>Aplikasi:</p>

                    <p>
                        1. Siswa tinggal di asrama selama 3 tahun ajaran, ketentuan
                        kunjungan dan pulang ke rumah masing-masing telah diatur sesuai
                        kebutuhan.
                    </p>
                    <p>
                        2. Di asrama siswa mengikuti rangkaian program dan peraturan
                        yang telah ditentukan dengan tujuan membentuk karakter dan
                        meningkatkan kemampuan siswa.
                    </p>

                    <br />
                    <p>Pihak-pihak yang terlibat:</p>
                    <p>1. Siswa</p>
                    <p>2. Guru Pembina</p>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="/js/accordion.js"></script>
}