/* ==================================== HALAMAN KURIKULUM ==================================== */
/* ------------------------------------ SECTION PENGANTAR ------------------------------------ */
#kurikulum-home {
    background-image: linear-gradient(rgba(9, 5, 54, 0.4), rgba(5, 4, 46, 0.4)), url("images/siswa1.jpg");
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    text-align: end;
    padding: 14vw 8vw 0;
}

    #kurikulum-home h2 {
        color: #ffffff;
        font-size: 2.5rem;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    #kurikulum-home .kurikulum-breadcumbs {
        display: flex;
        gap: 10px;
    }

        #kurikulum-home .kurikulum-breadcumbs ::deep a {
            text-decoration: none;
            text-transform: uppercase;
            color: #ffffff;
            font-size: 14px;
            letter-spacing: 1px;
            transition: 0.3s ease;
        }

            #kurikulum-home .kurikulum-breadcumbs ::deep a:hover {
                color: #fdc93b;
            }

/* ------------------------------------ SECTION KURIKULUM ------------------------------------ */
#kurikulum {
    padding: 5vw 8vw;
}

    #kurikulum .kurikulum-container {
        display: flex;
        gap: 30px;
        padding: 30px 0;
    }

        #kurikulum .kurikulum-container .kurikulum-peta {
            width: 40%;
        }

            #kurikulum .kurikulum-container .kurikulum-peta .kurikulum-sticky {
                position: sticky;
                top: 110px;
            }

                #kurikulum .kurikulum-container .kurikulum-peta .kurikulum-sticky img {
                    width: 100%;
                }

        #kurikulum .kurikulum-container .kurikulum-penjelasan {
            width: 60%;
        }

            #kurikulum .kurikulum-container .kurikulum-penjelasan .kurikulum-poin {
                font-size: 16px;
                color: #000000;
                padding: 10px 0 0 20px;
                line-height: 1.6;
                transition: 0.3s ease;
                overflow: hidden;
                height: 0;
            }

                #kurikulum
                .kurikulum-container
                .kurikulum-penjelasan
                .kurikulum-poin
                .kurikulum-poin-judul {
                    font-weight: bold;
                    font-size: 18px;
                    padding-bottom: 5px;
                    text-transform: uppercase;
                }

.kurikulum-container .kurikulum-penjelasan .kurikulum-poin p span {
    font-size: 16px;
    color: #000000;
    line-height: 1.6;
    font-style: italic;
}

#kurikulum
.kurikulum-container
.kurikulum-penjelasan
.kurikulum-poin
.penjelasan-box {
    background-color: #eeeeee;
    padding: 20px;
    margin: 20px 0;
}

/* Accordion */
.kurikulum-header {
    background-color: rgb(240, 240, 245);
    color: #222222;
    padding: 15px 20px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 8px;
    margin-top: 10px;
    position: relative;
}

    .kurikulum-header::before {
        content: "+";
        position: absolute;
        right: 20px;
        font-size: 20px;
    }

.kurikulum-item.active .kurikulum-header::before {
    content: "–"; /* minus sign */
}

.kurikulum-item.active .kurikulum-poin {
    display: block;
}

/* ==================================== RESPONSIVE ==================================== */
/* ------------------------------------ LAPTOP KECIL ------------------------------------ */
@media (max-width: 1050px) {
}

/* ------------------------------------ TABLET ------------------------------------ */
@media (max-width: 780px) {
    #kurikulum .kurikulum-container[b-3qsp09zqvq] {
        display: flex;
        flex-direction: column;
    }

    #kurikulum .kurikulum-container .kurikulum-peta[b-3qsp09zqvq] {
        width: 100%;
    }

    #kurikulum .kurikulum-container .kurikulum-penjelasan[b-3qsp09zqvq] {
        width: 100%;
    }
}

/* ------------------------------------ MOBILE ------------------------------------ */
@media (max-width: 640px) {
    #kurikulum-home {
        background-image: linear-gradient(rgba(9, 5, 54, 0.4), rgba(5, 4, 46, 0.4)), url("images/siswa1.jpg");
        width: 100%;
        height: 60vh;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 14vw 8vw 0;
    }

        #kurikulum-home h2 {
            font-size: 2rem;
            letter-spacing: .2px;
        }

    #kurikulum[b-3qsp09zqvq] {
        padding: 10vw 8vw;
    }

    .kurikulum-header[b-3qsp09zqvq] {
        background-color: rgb(240, 240, 245);
        color: #222222;
        padding: 15px 20px 15px 15px;
        cursor: pointer;
        font-size: 15px;
        font-weight: 600;
        border-radius: 8px;
        margin-top: 10px;
        position: relative;
    }

    #kurikulum .kurikulum-container .kurikulum-penjelasan .kurikulum-poin[b-3qsp09zqvq] {
        font-size: 15px;
    }
} 