<h1>Login sebagai : </h1>
<ul>
    <li><a asp-action="Login" asp-controller="Home" asp-area="@AreaNames.DashboardAdmin">Admin</a></li>
    <li><a asp-action="Login" asp-controller="Home" asp-area="@AreaNames.DashboardGuru">Guru</a></li>
    <li><a asp-action="Login" asp-controller="Home" asp-area="@AreaNames.DashboardSiswa">Siswa</a></li>
</ul>