<!-- ======================================= PENGANTAR ======================================= -->
<section id="tentang-home">
    <h2>Tentang Kami</h2>
</section>

<!-- ======================================= SAMBUTAN ======================================= -->
<section id="sambutan2">
    <div class="judul-garis">
        <h2>Sambutan</h2>
        <div class="garis-sisa"></div>
    </div>
    <div class="sambutan2-wrapper">
        <div class="sambutan2-video">
            <iframe src="https://www.youtube.com/embed/4Wt526OVxGg?si=L2EcPoD6nAunNxC6"></iframe>
        </div>
        <div class="sambutan2-content">
            <h1>Sambutan Pimpinan Yayasan Pandhega Jaya</h1>
            <p class="sambutan2-text">
                Selamat datang di SMA Kristen Pandhega Jaya, tempat dimana ilmu dan
                keterampilan diajarkan dengan penuh kasih sayang. Kami bangga dapat
                menyediakan lingkungan belajar yang menyenangkan dan menyegarkan
                bagi siswa-siswi kami. Kami bertekad untuk memberikan pendidikan
                yang berkualitas dan berkelanjutan, yang akan mempersiapkan
                siswa-siswi kami untuk menjadi pemimpin masa depan yang sukses.
                Terima kasih atas dukungan dan kerja sama anda.
            </p>
            <div class="pimpinan">
                <div class="pimpinan-orang">
                    <p class="sambutan2-nama">Budi Utomo, S.T., M.TH</p>
                    <p class="sambutan2-jabatan">DEWAN PEMBINA</p>
                </div>
                <div class="pimpinan-orang">
                    <p class="sambutan2-nama">Anton Darmawan, S.T</p>
                    <p class="sambutan2-jabatan">KETUA UMUM</p>
                </div>
                <div class="pimpinan-orang">
                    <p class="sambutan2-nama">Erlangga Dharma, S.E., M.SC</p>
                    <p class="sambutan2-jabatan">KETUA UMUM II</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ======================================= PREVIEW KURIKULUM ======================================= -->
<section id="preview-kurikulum">
    <div class="pk-box">
        <h2>Kurikulum SMA Kristen Pandhega Jaya</h2>
        <a class="yellow" asp-action="Kurikulum" asp-controller="Home" asp-area="Profil">Lihat Disini</a>
    </div>
</section>

<!-- ======================================= PREVIEW CORE VALUE ======================================= -->
<section id="core-kurikulum">
    <div class="ck-box">
        <h2>Core Value SMA Kristen Pandhega Jaya</h2>
        <a class="blue" asp-action="CoreValue" asp-controller="Home" asp-area="Profil">Lihat Disini</a>
    </div>
</section>

<!-- ======================================= VISI & MISI ======================================= -->
<section id="visimisi">
    <div class="judul-garis">
        <h2>Visi & Misi</h2>
        <div class="garis-sisa"></div>
    </div>
    <div class="visimisi-container">
        <div class="visimisi-box">
            <hr class="judul-line" />
            <h2 class="judul">Visi</h2>
            <hr class="judul-line-tipis" />
            <p>
                Visi SMAKr. Pandhega Jaya adalah “Mempersiapkan calon pemimpin yang
                cakap, berintegritas, penuh pengabdian, dan mencintai bangsa”.
            </p>
            <ul class="isi">
                <li>
                    Cakap artinya mempunyai kemampuan dan kepandaian untuk mengerjakan
                    tanggung jawab dengan cekatan.
                </li>
                <li>
                    Berintegritas artinya berani bertanggung jawab atas tindakan
                    maupun perkataan, serta dapat diandalkan.
                </li>
                <li>
                    Penuh pengabdian artinya atas kesadaran pribadi memberikan diri
                    untuk melakukan tanggung jawab tanpa pamrih.
                </li>
                <li>
                    Mencintai bangsa artinya memikirkan kelangsungan hidup bangsa dan
                    melakukan berbagai upaya untuk membangunnya.
                </li>
            </ul>
        </div>

        <div class="visimisi-box">
            <hr class="judul-line" />
            <h2 class="judul">Misi</h2>
            <hr class="judul-line-tipis" />
            <ol class="isi">
                <li>
                    Membangkitkan kesadaran dalam diri setiap siswa bahwa mereka
                    adalah ciptaan Tuhan yang unik dan ditetapkan sebagai pemimpin.
                </li>
                <li>
                    Menanamkan dan menumbuhkan jiwa kewirausahaan dalam diri setiap
                    siswa.
                </li>
                <li>Menanamkan nilai-nilai pengabdian kepada bangsa dan negara.</li>
            </ol>
        </div>
    </div>
</section>

<!-- ======================================= MARS SEKOLAH ======================================= -->
<section id="mars">
    <div class="mars-container">
        <div class="mars-kiri"></div>
        <div class="mars-kanan">
            <h2>Lirik Mars</h2>
            <blockquote class="mars-lirik">
                <p>Kamilah pemimpin</p>
                <p>Cakap dan berintegritas</p>
                <p>penuh pengabdian dan cintai bangsa</p>
                <p>Diatas kebenaran kami berpijak</p>
                <p>Percaya diri untuk mandiri</p>
                <p>Berani berkreasi kembangkan potensi</p>
                <p>Menjadi anak bangsa yang penuh prestasi</p>
                <p>Memajukan negeri tercinta</p>
                <p>Bangkitlah Pandhega Jaya</p>
                <p>Berkaryalah bagi bangsa</p>
                <p>Dengan nilai kebenaran</p>
                <p>Bersiaplah tuk menjadi pembangun Indonesia</p>
                <p>Pembangun Indonesia</p>
                <p>Pandhega berjayalah</p>
            </blockquote>
        </div>
    </div>
</section>