/* ==================================== HALAMAN TENTANG KAMI ==================================== */
/* ------------------------------------ SECTION PENGANTAR ------------------------------------ */
#tentang-home {
    background-image: linear-gradient(rgba(9, 5, 54, 0.4), rgba(5, 4, 46, 0.4)), url("images/Pandhega/foto_bersama.jpg");
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    text-align: end;
    padding: 14vw 8vw 0;
}

    #tentang-home h2 {
        color: #ffffff;
        font-size: 2.5rem;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

/* ------------------------------------ SECTION SAMBUTAN KEPALA YAYASAN ------------------------------------ */
#sambutan2 {
    padding: 5vw 8vw 0;
}

    #sambutan2 .sambutan2-wrapper {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        max-width: 1300px;
        margin: 0 auto;
        gap: 50px;
        flex-wrap: wrap;
        margin-top: 30px;
    }

        #sambutan2 .sambutan2-wrapper .sambutan2-video iframe {
            width: 550px;
            height: 350px;
            border-radius: 8px;
            object-fit: cover;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        }

        #sambutan2 .sambutan2-wrapper .sambutan2-content {
            flex: 1;
            min-width: 280px;
        }

            #sambutan2 .sambutan2-wrapper .sambutan2-content h1 {
                line-height: 1.2;
                font-size: 32px;
                padding-bottom: 10px;
                text-transform: uppercase;
            }

            #sambutan2 .sambutan2-wrapper .sambutan2-content .sambutan2-text {
                font-size: 16px;
                color: #333333;
                line-height: 1.7;
                text-align: justify;
            }

            #sambutan2 .sambutan2-wrapper .sambutan2-content .pimpinan {
                display: flex;
                gap: 40px;
            }

            #sambutan2 .sambutan2-wrapper .sambutan2-content .sambutan2-nama {
                font-size: 16px;
                font-weight: bold;
                margin-top: 20px;
            }

            #sambutan2 .sambutan2-wrapper .sambutan2-content .sambutan2-jabatan {
                text-transform: uppercase;
                font-size: 14px;
                color: #888888;
                letter-spacing: 1px;
            }

/* ------------------------------------ SECTION PREVIEW KURIKULUM ------------------------------------ */
#preview-kurikulum {
    padding: 6vw 8vw 0;
}

    #preview-kurikulum .pk-box {
        text-align: center;
        padding: 50px 20px;
        background-color: #002f4b;
        border-radius: 15px;
    }

        #preview-kurikulum .pk-box h2 {
            text-transform: uppercase;
            padding-bottom: 25px;
            color: #ffffff;
            font-size: 30px;
        }

        #preview-kurikulum .pk-box ::deep a {
            text-decoration: none;
            font-size: 0.9rem;
            padding: 13px 35px;
            background-color: #ffffff;
            font-weight: 600;
            border-radius: 5px;
        }

            #preview-kurikulum .pk-box ::deep a.yellow {
                color: #ffffff;
                background-color: #fdc93b;
                transition: 0.3s ease;
            }

                #preview-kurikulum .pk-box ::deep a.yellow:hover {
                    color: rgb(21, 21, 100);
                    background-color: #ffffff;
                }

/* ------------------------------------ SECTION PREVIEW CORE VALUE ------------------------------------ */
#core-kurikulum {
    padding: 1vw 8vw 0;
}

    #core-kurikulum .ck-box {
        text-align: center;
        padding: 50px 20px;
        background-color: #fdc93b;
        border-radius: 15px;
    }

        #core-kurikulum .ck-box h2 {
            text-transform: uppercase;
            padding-bottom: 25px;
            color: #000000;
            font-size: 30px;
        }

        #core-kurikulum .ck-box ::deep a {
            text-decoration: none;
            font-size: 0.9rem;
            padding: 13px 35px;
            background-color: #ffffff;
            font-weight: 600;
            border-radius: 5px;
        }

            #core-kurikulum .ck-box ::deep a.blue {
                color: #ffffff;
                background-color: #000000;
                transition: 0.3s ease;
            }

                #core-kurikulum .ck-box ::deep a.blue:hover {
                    color: #fdc93b;
                    background-color: #ffffff;
                }

/* ------------------------------------ SECTION VISI & MISI ------------------------------------ */
#visimisi {
    padding: 5vw 8vw 0;
}

    #visimisi .visimisi-container {
        display: flex;
        gap: 2rem;
        padding: 25px 0 0;
        justify-content: center;
        flex-wrap: wrap;
    }

        #visimisi .visimisi-container .visimisi-box {
            flex: 1 1 45%;
            background-color: white;
            border-radius: 10px;
        }

            #visimisi .visimisi-container .visimisi-box .judul-line {
                height: 10px;
                background-color: rgb(21, 21, 100);
                border: none;
                width: 100%;
                margin-top: 10px;
                margin-bottom: 20px;
                border-radius: 100px;
            }

            #visimisi .visimisi-container .visimisi-box .judul {
                font-size: 24px;
                color: rgb(24, 24, 49);
                font-weight: 700;
            }

            #visimisi .visimisi-container .visimisi-box .judul-line-tipis {
                margin: 20px 0;
                flex-grow: 1;
                height: 4px;
                width: 50px;
                background-color: #000000;
            }

            #visimisi .visimisi-container .visimisi-box p {
                padding-bottom: 20px;
            }

            #visimisi .visimisi-container .visimisi-box .isi {
                font-size: 16px;
                color: #000000;
                padding-left: 20px;
                line-height: 1.6;
            }

                #visimisi .visimisi-container .visimisi-box .isi li {
                    margin-bottom: 10px;
                }

/* ------------------------------------ SECTION MARS SEKOLAH ------------------------------------ */
#mars {
    padding: 5vw 0 0;
}

    #mars .mars-container {
        display: flex;
    }

        #mars .mars-container .mars-kiri {
            flex: 1;
            background-image: url("images/pandhega/futsal.jpg");
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
        }

        #mars .mars-container .mars-kanan {
            text-align: center;
            flex: 1;
            padding: 20px 60px;
            background-color: #ffffff;
        }

            #mars .mars-container .mars-kanan h2 {
                font-size: 2rem;
                font-weight: 700;
                margin-bottom: 10px;
                position: relative;
            }

                #mars .mars-container .mars-kanan h2::after {
                    content: "";
                    display: block;
                    width: 50px;
                    height: 4px;
                    background: #f7c600;
                    margin: 10px auto 0 auto;
                }

            #mars .mars-container .mars-kanan .mars-lirik {
                padding-left: 20px;
                font-size: 16px;
                color: #333333;
                line-height: 1.8;
            }

/* ==================================== RESPONSIVE ==================================== */
/* ------------------------------------ LAPTOP KECIL ------------------------------------ */
@media (max-width: 1050px) {
    #sambutan2 .sambutan2-wrapper[b-lh8iyyrbpt] {
        gap: 30px;
    }

    #sambutan2 .sambutan2-wrapper .sambutan2-video {
        width: 100%;
        height: 350px;
    }

        #sambutan2 .sambutan2-wrapper .sambutan2-video iframe {
            width: 100%;
            height: 100%;
        }
}

/* ------------------------------------ TABLET ------------------------------------ */
@media (max-width: 780px) {
    #sambutan2 .sambutan2-wrapper[b-lh8iyyrbpt] {
        gap: 20px;
    }

    #sambutan2 .sambutan2-wrapper .sambutan2-content .pimpinan[b-lh8iyyrbpt] {
        gap: 20px;
    }

    #preview-kurikulum .pk-box h2[b-lh8iyyrbpt] {
        font-size: 25px;
    }

    #core-kurikulum .ck-box h2[b-lh8iyyrbpt] {
        font-size: 25px;
    }
}

/* ------------------------------------ MOBILE ------------------------------------ */
@media (max-width: 500px) {
    #tentang-home[b-lh8iyyrbpt] {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 14vw 8vw 0;
    }

    #tentang-home h2[b-lh8iyyrbpt] {
        font-size: 2rem;
        letter-spacing: .2px;
    }

    #sambutan2[b-lh8iyyrbpt] {
        padding: 10vw 8vw 0;
    }

    #sambutan2 .sambutan2-wrapper[b-lh8iyyrbpt] {
        margin-top: 10px;
    }

    #sambutan2 .sambutan2-wrapper .sambutan2-content h1[b-lh8iyyrbpt] {
        font-size: 25px;
    }

    #sambutan2 .sambutan2-wrapper .sambutan2-content .pimpinan[b-lh8iyyrbpt][b-lh8iyyrbpt] {
        flex-direction: column;
        gap: 0px;
    }

    #sambutan2 .sambutan2-wrapper .sambutan2-content .sambutan2-nama[b-lh8iyyrbpt] {
        margin-top: 10px;
    }

    #sambutan2 .sambutan2-wrapper .sambutan2-video[b-lh8iyyrbpt] {
        width: 100%;
        height: 300px;
    }

    #preview-kurikulum .pk-box h2[b-lh8iyyrbpt][b-lh8iyyrbpt] {
        font-size: 20px;
    }

    #core-kurikulum .ck-box h2[b-lh8iyyrbpt][b-lh8iyyrbpt] {
        font-size: 20px;
    }

    #visimisi[b-lh8iyyrbpt] {
        padding: 10vw 8vw 0;
    }

    #mars .mars-container[b-lh8iyyrbpt] {
        display: flex;
        flex-direction: column;
        min-height: 0vh;
    }

    #mars .mars-container .mars-kiri[b-lh8iyyrbpt][b-lh8iyyrbpt][b-lh8iyyrbpt] {
        min-height: 25vh;
    }

    #mars .mars-container .mars-kanan[b-lh8iyyrbpt] {
        text-align: start;
        flex: 1;
        padding: 7vw 8vw 7vw;
        background-color: #ffffff;
    }

    #mars .mars-container .mars-kanan h2[b-lh8iyyrbpt]::after {
        content: "";
        display: block;
        width: 50px;
        height: 4px;
        background: #f7c600;
        margin: 0px; 
    }

    #mars .mars-container .mars-kanan .mars-lirik[b-lh8iyyrbpt] {
        padding-left: 0px;
    }
}