@model AnggotaRombel

@{
    Layout = null;
}

<style>
    #nomorHalaman {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-top: .3px solid #333;
        padding-top: 10px;
    }

    #footerLaporan {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        font-family: Calibri !important;
        font-size: 11px !important;
        font-weight:bold;
        color: #333 !important;
        width: 100%;
        padding-left: 83px;
        padding-right: 59px;
    }
</style>

<div id="footerLaporan">
    <div id="nomorHalaman">
        <p style="margin-right:auto">@Model.Rombel.Kelas.Jenjang.Humanize() @Model.Rombel.Nama | @Model.Siswa.Nama</p>
        <p style="margin-left:auto">Halaman : <span class="pageNumber"></span></p>
    </div>
</div>