@{
    Layout = null;
}

<style>
    #footerLaporan {
        font-family: 'Times New Roman' !important;
        font-size: 11px !important;
        text-align: right;
        color: black !important;
        width: 100%;
        margin-right: 80px;
    }
</style>

<div id="footerLaporan">
    <p>hal <span class="pageNumber"></span></p>
</div>