@model List<Pegawai>

<!-- ======================================= PENGANTAR ======================================= -->
<section id="pegawai-home">
    <h2>Guru & Karyawan</h2>
</section>

<!-- ======================================= SECTION GURU ======================================= -->
<section id="experts">
    <div class="judul-garis">
        <h2>Guru & Staff</h2>
        <div class="garis-sisa"></div>
    </div>
    <div class="swiper expert-box">
        <div class="swiper-wrapper">
            @foreach (var pegawai in Model)
            {
                <!-- Guru -->
                <div class="swiper-slide profile">
                    @if (pegawai.FotoProfil is not null)
                    {
                        <img src="@pegawai.FotoProfil.OriginalString" alt="Foto Profil" style="width: 100%;" />
                    }
                    else
                    {
                        var inisial = string.Join("", pegawai.Nama.Split(' ', StringSplitOptions.RemoveEmptyEntries).Select(n => n[0]))
                        .ToUpperInvariant();

                        if (inisial.Length > 2) inisial = inisial.Substring(0, 2);

                        <div class="fotoprofil">
                            @inisial
                        </div>
                    }
                    <h6>@pegawai.Nama</h6>
                    <p>@pegawai.Jabatan.Jenis.Humanize()</p>
                    <div class="pro-links">
                        <a href="https://instagram.com/@pegawai.NamaInstagram" target="_blank"><i class="ri-instagram-fill"></i></a>
                    </div>
                </div>
            }
        </div>

        <!-- Navigasi swiper -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>
</section>