<!-- ======================================= PENGANTAR ======================================= -->
<section id="pegawai-home">
    <h2>Guru & Karyawan</h2>
</section>

<!-- ======================================= SECTION GURU ======================================= -->
<section id="experts">
    <div class="judul-garis">
        <h2>Guru & Staff</h2>
        <div class="garis-sisa"></div>
    </div>
    <div class="swiper expert-box">
        <div class="swiper-wrapper">
            <!-- Guru -->
            <div class="swiper-slide profile">
                <img src="images/guru/guru.jpg" alt="" />
                <h6>Ema Irnik</h6>
                <p>Guru</p>
                <div class="pro-links">
                    <i class="ri-facebook-fill"></i>
                    <i class="ri-instagram-fill"></i>
                    <i class="ri-linkedin-fill"></i>
                </div>
            </div>

            <!-- Guru -->
            <div class="swiper-slide profile">
                <img src="images/guru/guru.jpg" alt="" />
                <h6>Ema Irnik</h6>
                <p>Guru</p>
                <div class="pro-links">
                    <i class="ri-facebook-fill"></i>
                    <i class="ri-instagram-fill"></i>
                    <i class="ri-linkedin-fill"></i>
                </div>
            </div>

            <!-- Guru -->
            <div class="swiper-slide profile">
                <img src="images/guru/guru.jpg" alt="" />
                <h6>Ema Irnik</h6>
                <p>Guru</p>
                <div class="pro-links">
                    <i class="ri-facebook-fill"></i>
                    <i class="ri-instagram-fill"></i>
                    <i class="ri-linkedin-fill"></i>
                </div>
            </div>

            <!-- Guru -->
            <div class="swiper-slide profile">
                <img src="images/guru/guru.jpg" alt="" />
                <h6>Ema Irnik</h6>
                <p>Guru</p>
                <div class="pro-links">
                    <i class="ri-facebook-fill"></i>
                    <i class="ri-instagram-fill"></i>
                    <i class="ri-linkedin-fill"></i>
                </div>
            </div>

            <!-- Guru -->
            <div class="swiper-slide profile">
                <img src="images/guru/guru.jpg" alt="" />
                <h6>Ema Irnik</h6>
                <p>Guru</p>
                <div class="pro-links">
                    <i class="ri-facebook-fill"></i>
                    <i class="ri-instagram-fill"></i>
                    <i class="ri-linkedin-fill"></i>
                </div>
            </div>

            <!-- Guru -->
            <div class="swiper-slide profile">
                <img src="images/guru/guru.jpg" alt="" />
                <h6>Ema Irnik</h6>
                <p>Guru</p>
                <div class="pro-links">
                    <i class="ri-facebook-fill"></i>
                    <i class="ri-instagram-fill"></i>
                    <i class="ri-linkedin-fill"></i>
                </div>
            </div>

            <!-- Guru -->
            <div class="swiper-slide profile">
                <img src="images/guru/guru.jpg" alt="" />
                <h6>Ema Irnik</h6>
                <p>Guru</p>
                <div class="pro-links">
                    <i class="ri-facebook-fill"></i>
                    <i class="ri-instagram-fill"></i>
                    <i class="ri-linkedin-fill"></i>
                </div>
            </div>

            <!-- Guru -->
            <div class="swiper-slide profile">
                <img src="images/guru/guru.jpg" alt="" />
                <h6>Ema Irnik</h6>
                <p>Guru</p>
                <div class="pro-links">
                    <i class="ri-facebook-fill"></i>
                    <i class="ri-instagram-fill"></i>
                    <i class="ri-linkedin-fill"></i>
                </div>
            </div>
        </div>

        <!-- Navigasi swiper -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>
</section>